# Ignore VS code settings
settings.json

# Ignore compilation files
wtActuator/lnInclude/*
wtActuator/Make/linux*Opt

# Ignore entire sandbox directory for local testing
sandbox/

# Ignore lnInclude (usually a generated symlink directory in OpenFOAM)
wtActuator/lnInclude/

# ============================================================
# Tutorials directories: keep only the initial case 
# files/directories, ignore everything else
# ============================================================
# First, ignore everything inside each tutorial subdirectory
tutorials/*/*

# Then explicitly un‑ignore the initial case items
!tutorials/*/0.orig
!tutorials/*/Allclean
!tutorials/*/Allrun_parallel
!tutorials/*/Allrun_serial
!tutorials/*/constant/
!tutorials/*/system/
!tutorials/*/readme.md
!tutorials/*/slurm-file

# Exclude polyMesh directories inside any constant folder
**/constant/polyMesh/